@inject ProductService productservice
@model HomeViewModel
@{
    var products = await productservice.GetProducts(2);
}

<section class="__promo-section">
    <div class="__promo-wrapper container">
        @if(products != null)
        {
             <partial name="/Views/Partials/_ProductCardBig.cshtml" model="products[0]" />
        }

        <div class="__promo-card">
            <h3 class="__promo-hook">@Model.Promotion.Hook</h3>
            <h2 class="__promo-title">@Model.Promotion.Title</h2>
            <h3 class="__promo-sub-title">@Model.Promotion.SubTitle</h3>
            <p class="__promo-text">@Model.Promotion.Text</p>
            <a class="__promo-link" href="">@Model.Promotion.LinkText</a>
        </div>
        @if (products != null)
        {
             <partial name="/Views/Partials/_ProductCardBig.cshtml" model="products[1]" />
        }
    </div>
</section>
