@model ProductModel
@{
    var discount = Model.Price * (decimal)0.5;
}

<div class="__product-card-big">
    <a asp-controller="Product" asp-action="Details" asp-route-id="@Model.Id"><img class="__product-card-big-img" src="~/images/products/@Model.ImagePath" alt="@Model.Name"></a>
    <div class="__product-card-big-info">
        <div class="__info-text">
            <p class="__info-title">@Model.Name</p>
            <div class="__price-wrapper __flex-row">
                <p class="__info-price">@Model.Price</p>
                <p class="__info-price-discount ms-3">@discount</p>
            </div>
        </div>
        <button class="__info-button"><i class="fa-light fa-cart-plus"></i></button>
    </div>
</div>